 
 
  table, th, td {
			width: 300px;
	padding: 200px;
	border: 200px solid:#fcba03;
	border-style: double dotted;
	border-top: thick dashed black
	border-bottom: thick dotted black;
	border-left: thick double black;
	width: 30%;
		margin-top; 30px;
  margin-right: auto;
margin-bottom:30px;
margin-left:auto;
	margin: 45px;
	background-color: #2803fc;
	font-family: Arial, sans-serif;
	font-size: 25px;
	display: block;
		}
		
		th, td {
		      padding: 10px;
			  }
		body {
		  		 background-color: white;
		  font-family: Arial, sans-serif;
		  color:black;
		  text-align:center;
		  background-size: 1200x1200px;
		  background-repeat:no-repeat;
		  background-position:center;
		  background-attachment:fixed

		   
	# div1, # div2{
	width: 300px;
	padding: 20px;
	border: 20px solid:#fcba03;
	border-style: double dotted;
	border-top: thick dashed black
	border-bottom: thick dotted black;
	border-left: thick double black;
	width: 30%;
		margin-top; 30px;
  margin-right: auto;
margin-bottom:30px;
margin-left:auto;
	margin: 45px;
	background-color: #2803fc;
	font-family: Arial, sans-serif;
	font-size: 25px;
	display: block;
	}
			
		  
		  

